rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /amazing-albums/{album=**} {
      allow read: if true;
      allow write: if false;
    }
    match /amazing-albums-artists/{artist=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
